.custom-row {
  margin-right: -7.5px;
  margin-left: -7.5px;
}
.custom-row [class*="col"] {
  padding-right: 7.5px;
  padding-left: 7.5px;
}
@media (max-width: 480px) {
  .custom-xs-row {
    margin-right: -7.5px;
    margin-left: -7.5px;
  }
  .custom-xs-row [class*="col"] {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
}
@media (min-width: 768px) {
  .custom-menu {
    width: 680px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
.custom-list-group {
  border: 1px solid #ededed;
  border-radius: 3px;
}
.custom-list-group .list-group-item {
  border: 1px solid #ededed;
}
.custom-list-group .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.custom-list-group .list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.filter-sub-area label {
  margin-bottom: 0;
}